.child{
    background-color: red;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}
